@font-face {
	font-family: "Frutiger";
	src: url("../font/FrutigerLTStd-Light.otf") format("opentype");
}

h1, h2, h3, h4, h5, body { font-family: "Frutiger", Arial, serif; }
h3,h4, span{
	color: #999999;
}

textarea { height: auto; }

.top-bar {
  margin-bottom: 0; 
  background: #32318F;
}

.top-bar-section li a:not(.button) {
	background: #32318F;
}

.contain-to-grid .top-bar{
	margin-bottom: 0;	
}

 div.switch > span {
      -webkit-box-shadow: 2px 0 10px 0 rgba(0, 0, 0, 0.07), 1000px 0 0 1000px #f2f2f2, -2px 0 10px 0 rgba(0, 0, 0, 0.07), -1000px 0 0 1000px whitesmoke;
      box-shadow: 2px 0 10px 0 rgba(0, 0, 0, 0.07), 1000px 0 0 980px #f2f2f2, -2px 0 10px 0 rgba(0, 0, 0, 0.07), -1000px 0 0 1000px whitesmoke; }

.sub-nav dt.active a, .sub-nav dd.active a {
      -webkit-border-radius: 0px;
      border-radius: 0px;
      font-weight: normal;
}

.image-masking {
	position:relative;
}

.image-masking img{
	-webkit-border-radius:200px;
	-moz-border-radius:200px;
	border-radius:200px;
	position:relative;
}

.image-masking .caption{
	font-family:'Frutiger';
	font-size: 18pt;
	background-color: rgba(255,0,255,0.8);
	position: absolute;
	bottom: 0;
	text-align:center;
	height:54px;
	margin:0 auto;
	padding-top: 2px;
	padding-left: 30px;
	padding-right: 30px;
	width: 100%;
}

/* Prevent the text contents of draggable elements from being selectable. */
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

.person-item .over {
  border: 2px dashed #000;
}

.person-item{}

.scrollable{
    width: 100%;
    height: 120px;
    overflow: auto;
    overflow-y: hidden;
    margin: 0 auto;
    white-space: nowrap
}

.scrollable-item{
    width: 80px;
    height: 80px;
    margin-top: 10px;
    display: inline-block;
    background-color: #ffffff;
}

.scrollable-item-selected {
	background-color: #32318f;
	border-color: #32318f;
	border-radius: 1px;
}

.scrollable-item-add{
    width: 80px;
    height: 80px;
    margin-top: 10px;
    display: inline-block;
    background-color: white;
}

.scrollable-item-text{
    width: 80px;
    height: 80px;
    float: left;
    display: inline-block;
    background-color: transparent;   
}

.scrollable-item-text p{
    text-align: center;
    padding-top: 35px;
    font-size: 14px;
    color: #32318f;
    line-height: 1;

}

.scrollable-item-text-selected p{
	color: white;	
}

.circleBase {
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
    behavior: url(PIE.htc);
}

.type1 {
    width: 128;
    height: 128px;
    background: yellow;
    border: 3px solid red
}

.title-period {
	text-align: right;
}

.people-header{
	/*background-color: rgba(0,0,0, 0.1);*/
}

